.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
/archives/
/BCCalendarDate.xcframework/
/BCCalendarDate.xcodeproj/xcshareddata/
/.DerivedData/
/DerivedDataSimulator
/DerivedDataWatchSimulator
