.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
/archives/
/RWMRecurrenceRule.xcframework/
/RWMRecurrenceRule.xcodeproj/xcshareddata/
/.DerivedData/
/DerivedDataSimulator
/DerivedDataWatchSimulator
